{% extends './base.html' %} {% block content %}

 <div class="container mt-5">
    <div class="row">

        <div class="col-md-12">
            <h4 class="mb-5 text-uppercase text-center mt-2 mb-3">Leave History </h4>

            


            
            <div class="table-responsive mt-4">
                <table class="table table-hover table-bordered ">
                    <!-- <caption class="text-danger font-weight-bold">Absent List</caption> -->
                    <thead class="text-center">
                        
                      <tr>
                        
                        <th>ID</th>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Reason For Leave</th>
                        <th>Status</th>
                       
                        
                        
                      </tr>
                      
                    </thead>
                    <tbody class="text-center">
                        
                
                  {% for absent in absentList %}
                     
                      <tr>
                       <td>{{absent.employeeId}}</td>
                        
                       <td>{{absent.employeeName}}</td>
                       <td>{{absent.date|date:"d-m-Y"}}</td>
                       <td>{{absent.reasonForLeave}}</td>
                       <td>{{absent.employeeStatus}}</td>

                      </tr>
                      {% endfor %}
                    
                      
                      
                      
                    </tbody>
                  </table>
            </div>






        </div>
    </div>
 </div>

{% endblock content %}