/* Dashboard  */
.card{
  box-shadow: 0 0 16px #ccc;
  margin-top: 20px;
  cursor: pointer;
  max-height: 130px;
}
.card-body i{
font-size: 2.5rem;
font-weight: 700;
margin-left: 10px;
}
.card ul li {
  text-align: center;
}
.card-body ul li {
  font-size: 20px;
  position: relative;
  top: -35px;
  font-weight: 700;
  margin-left:40px;
}


.card-body .fa-user-clock {
  color: red;
}

.card-body .fa-user-plus {
  color: blue;
}
.card-body .fa-user-minus {
  color: crimson;
}


caption {
  color:#000;
  text-align: center;
  caption-side: top;
}

/* Dashboard */





label {
  width: 250px;
}

h4{
  
  color: #da0f5e;
  
}

textarea{
  resize: none;
}
 


.add{
  /* text-align: center; */
  text-align: -webkit-center;
}

.form-inline .form-control {
  display: inline-block;
  width: 250px;
  vertical-align: middle;
}
.font{
  font-size:1rem !important;
  color:#fff;
}

.invalid-feedback {
  display: none;
  width: 100%;
  margin-top:1px !important;
  font-size: 8px !important;
  color: #dc3545;
}

