.fa-pen{
    color: #ffffff;
    background: #22C55E;
    padding: 11px;
    border-radius: 50%;
    }
    .fa-trash-alt{
    color: #ffffff;
    background: #D97706;
    padding: 11px;
    border-radius: 50%;
    }